/*
Colours Used
    Dark Green: #005B31
    Light Green: #80B601
    White: #FFFFFF
    Black: #000000
    Grey: #4B4A4A
*/


body, html {
    margin: 0;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

.hero-image {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../Images/jb.jpg);
  background-position: center;
  background-size: cover;
}

.hero-text {
  font-family: 'Alex Brush', cursive;
  text-align: center;
  position: absolute;
  top: 95%;
  left: 15%;
  transform: translate(-50%, -50%);
  color: white;
}

/* Style the navbar */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  height: 75px;
  box-sizing: border-box;
  transition: .3s;
}

/* Navbar links */
#navbar a {
  float: right;
  display: block;
  color: #000000;
  text-align: center;
  padding: 28.5px 100px 28.5px 0;
  text-decoration: none;
}

#navbar a:hover {
  cursor: pointer;
  color: #005B31;
}

#nav-logo {
  height: 70px;
  padding: 2.5px 0 2.5px 100px;
}

.section {
  text-align: center;
  margin: 50px;
}

.title{
  margin: 50px 0;
  color: #005B31;
}

.about-img {
  margin: 0 50px 50px 0;
  float: left;
}

.brian-alci {
  width: 500px;
}

.about-txt {
  font-size: 20px;
  text-align: justify;
}

.awards {
  clear: both;
  text-align: center;
}

.award-img {
  width: 200px;
  margin: 20px 100px;
  border: 1px solid #005B31;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.award-img:hover {
  -webkit-transform: scale(2,2);
  transition: 1s;
}

.services-img {
  width: 350px;
  margin: 50px 100px;
}

footer {
  text-align: center;
  height: 250px;
  background-color: #4B4A4A;
}

#website-copyright {
  margin: 35px 0;
  color: #80B601;
}

#website-terms {
  margin: 35px 0;
  color: #ffffff;
}

.footer-img {
  margin: 30px;
  width: 100px;
}
