body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.header {
    height: 150px;
    line-height: 150px;
}


.logo {
    margin: 0 0 0 50px;
    height: 150px;
}

.openNav {
    margin: 0 100px 0 0;
    position: relative;
    float: right;
    font-size: 30px;
    cursor:pointer
}

@media only screen and (max-width: 600px) {
    .logo {
        margin: 25px 0 25px 20px;
    }
    
    .openNav {
        margin: 0 20px 0 0;
    }
  }

.section1 {
    margin-top: 10px;
    height: 1500px;
    background-color: #FFFFFF;
    background: linear-gradient(172deg, #80B600 50%, transparent 50%), linear-gradient(8deg, transparent 50%, #045B38 50%);
  }

.images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    /* justify-content: space-evenly;
    padding: 100px 10px 10px 10px; */
}

.imageThumb {
    border-radius: 3px;
    padding: 20px;
    width: 800px;
    margin: 20px;
}





  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #80B600;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }